<section id="section-{{ block.id }}" class="text-overlay">
    {%- capture mobile_size -%}750x{% if block.settings.image.height >= 960 %}960{% else %}{{ block.settings.image.height }}{% endif %}{%- endcapture -%}
  
    <div class="FlexboxIeFix">
      <div class="ImageHero CollectionItem__Wrapper {% if block.settings.section_size != 'normal' %}ImageHero--{{ block.settings.section_size }}{% endif %}" {% if block.settings.image %}style="background: url({{ block.settings.image | img_url: '1x1' }})"{% endif %}>
        <div class="ImageHero__ImageWrapper">
          <div class="ImageHero__Image {% if block.settings.newImageMobile != blank %} hidden-phone {%endif %} {% if block.settings.overlay_opacity > 0 %}ImageHero__ImageWrapper--hasOverlay{% endif %} Image--lazyLoad Image--zoomOut"
               data-optimumx="1.4"
               data-expand="-150"
               {% if block.settings.image %}data-bgset="{{ block.settings.image | img_url: mobile_size, crop: 'center' }} 750w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1500x' }} 1500w"{% endif %}>
          </div>

          {%- if block.settings.newImageMobile != blank -%}
            <div class="ImageHero__Image hidden-tablet-and-up {% if block.settings.overlay_opacity > 0 %}ImageHero__ImageWrapper--hasOverlay{% endif %} Image--lazyLoad Image--zoomOut"
              data-optimumx="1.4"
              data-expand="-150"
              {% if block.settings.newImageMobile %}data-bgset="{{ block.settings.newImageMobile | img_url: mobile_size }} 750w, {{ block.settings.newImageMobile | img_url: '800x' }} 800w, {{ block.settings.newImageMobile | img_url: '900x' }} 900w, {{ block.settings.newImageMobile | img_url: '1000x' }} 1000w, {{ block.settings.newImageMobile | img_url: '1500x' }} 1500w"{% endif %}>
            </div>
          {%- endif -%}
  
          <noscript>
            <div class="ImageHero__Image" style="background-image: url({{ block.settings.image | img_url: '1000x' }})"></div>
          </noscript>
  
          {%- unless block.settings.image != blank -%}
            <div class="PlaceholderBackground PlaceholderBackground--Dark">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
            </div>
          {%- endunless -%}
        </div>
  
        {%- if block.settings.subheading != blank or block.settings.title != blank or block.settings.content != blank -%}
          <div class="ImageHero__ContentOverlay CollectionItem__Content CollectionItem__Content--{{ block.settings.content_position | default: 'bottomLeft' }}"
                style="position: absolute">
            {%- if block.settings.subheading != blank or block.settings.title != blank or block.settings.content != blank -%}
              <header class="SectionHeader">

                {%- if block.settings.showPageName -%}
                  <h3 class="SectionHeader__SubHeading Heading">                    
                      <span class="u-h4 title_highlight pageName">{{ page.title | escape }}</span>
                 </h3>
                {%- endif -%}

                {%- if block.settings.subheading != blank -%}
                  <h3 class="SectionHeader__SubHeading Heading u-h6">{{ block.settings.subheading | escape }}</h3>
                {%- endif -%}
  
                {%- if block.settings.title != blank -%}
                    <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading" style="margin:0;">
                        <span class="u-h4 title_highlight pageName">{{ block.settings.title | escape }}</span>
                    </h2>
                {%- endif -%}
  
                {%- if block.settings.content != blank -%}
                  <div class="SectionHeader__Description regular_font pageDescription u-h5" >
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}
              </header>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </section>
  <style>
    #section-{{ block.id }}.text-overlay,
    #section-{{ block.id }}.text-overlay .Heading {
      color: {{ block.settings.text_color }};
    }
  
    #section-{{ block.id }}.text-overlay .ImageHero__ImageWrapper--hasOverlay::before {
      {%- assign overlay_opacity = block.settings.overlay_opacity | divided_by: 100.0 -%}
      background-color: {{ block.settings.overlay_color | color_modify: 'alpha', overlay_opacity }};
    }
  </style>