{%- assign main_menu_handle = section.settings.primary_menu -%}
{%- assign main_menu = linklists[main_menu_handle] -%}

{%- assign main_menu_handle_2 = section.settings.primary_menu_2 -%}
{%- assign main_menu_2 = linklists[main_menu_handle_2] -%}

{%- assign secondary_menu_handle = section.settings.secondary_menu -%}
{%- assign secondary_menu = linklists[secondary_menu_handle] -%}

{%- assign secondary_menu_handle_2 = section.settings.secondary_menu_2 -%}
{%- assign secondary_menu_2 = linklists[secondary_menu_handle_2] -%}


<section id="sidebar-menu" class="SidebarMenu Drawer Drawer--small Drawer--fromLeft" aria-hidden="true" data-section-id="{{ section.id }}" data-section-type="sidebar-menu">
    <header class="Drawer__Header" data-drawer-animated-left>
      {% comment %}
      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-menu" aria-label="{{ 'header.navigation.close_sidebar' | t }}">
        {%- render 'icon' with 'close' -%}
      </button>
      {% endcomment %}
      <!-- Add tabs title -->
      <div class="drawer_tabs tab">
        {%- if section.settings.tab_title_1 != blank -%}
        <div class="tabsDiv">
          <button class="tablinks SectionHeader__Heading Heading u-h1" id="firstTabClicked" onclick="openTab(event, 'tab1')">
            <h2 class="SectionHeader__Heading Heading u-h5 regular_font">
              {{ section.settings.tab_title_1 | escape }}
            </h2>
          </button>
        </div>
        {%- endif -%}

        {%- if section.settings.tab_title_2 != blank -%}
        <div class="tabsDiv">
          <button class="tablinks SectionHeader__Heading Heading u-h1" onclick="openTab(event, 'tab2')">
            <h2 class="SectionHeader__Heading Heading u-h5 regular_font">
              {{ section.settings.tab_title_2 | escape }}
            </h2>
          </button>
          </div>
        {%- endif -%}
      </div>

    </header>

    <div class="Drawer__Content">
      <div class="Drawer__Main" data-drawer-animated-left data-scrollable>
        <div id="tab1" class="tabcontent">
          <div class="Drawer__Container">
            {% render 'navigation-content', block: block, section: section, tabName: 'tab1', main_menu: main_menu, secondary_menu: secondary_menu %}
          </div>
        </div>
        <div id="tab2" class="tabcontent">
          <div class="Drawer__Container">
            {% render 'navigation-content', block: block, section: section, tabName: 'tab2', main_menu: main_menu_2, secondary_menu: secondary_menu_2 %}
          </div>
        </div>
      </div>

      {%- if section.settings.show_social_media -%}
        {%- capture social_media -%}
          {% render 'social-media', class: 'SidebarMenu__Social', spacing: 'fill', sidebarMenu: true %}
        {%- endcapture -%}
      {%- endif -%}

        <aside class="Drawer__Footer Gird Grid--center" data-drawer-animated-bottom>
          <div class="footer_item 1/3 langSwitcher">
            <span class="ly-custom-0"></span>
          </div>
          <div class="footer_item 1/3">
            {% if section.settings.footer_text != blank %}
              <p style="font-size: 12px; color: #ffffff; line-height: 22.88px;">{{section.settings.footer_text | escaped }}</p>
            {% endif %}
          </div>
          <div class="footer_item 1/3">
            {%- if social_media != blank -%}
              {{ social_media }}
            {%- endif -%}
          </div>


        </aside>


    </div>
</section>

<script>

function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    console.log("tablinks[i].className:",tablinks[i].className);
    tablinks[i].closest(".tabsDiv").classList.remove("activeDiv");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
  evt.currentTarget.closest(".tabsDiv").classList.add("activeDiv");

}


function adjustSidebarHeight(timeInterval){
  setTimeout(function(){
    var headerSectionHeight = document.getElementById('section-header').getBoundingClientRect();
    document.documentElement.style.setProperty('--header-announcement-height', (headerSectionHeight.bottom+'px'));
  }, timeInterval);
}


window.addEventListener('resize',()=>{
  adjustSidebarHeight(500);
});

window.addEventListener("load", function(){
  document.getElementById("firstTabClicked").click();
  adjustSidebarHeight(1000);
});
window.addEventListener("scroll", function(){
  adjustSidebarHeight(500);
});
</script>


{% schema %}
{
  "name": "Sidebar menu",
  "settings": [
    {
      "type": "header",
      "content":"First Tab"
    },
    {
      "type":"text",
      "id": "tab_title_1",
      "label": "Tab title"
    },
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary menu",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "header",
      "content":"Second Tab"
    },
    {
      "type":"text",
      "id": "tab_title_2",
      "label": "Tab title"
    },
    {
      "type": "link_list",
      "id": "primary_menu_2",
      "label": "Primary menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu_2",
      "label": "Secondary menu",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type":"text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "Folge uns auf"
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "default": true
    }
  ],
  "blocks":[
    {
      "type": "icon",
      "name": "Link with icon",
      "settings":[
        {
          "type": "select",
          "id": "tab_position",
          "label": "Tab position",
          "options": [
            {
              "value": "tab1",
              "label": "First tab"
            },
            {
              "value": "tab2",
              "label": "Second tab"
            }
          ],
          "default": "tab1"
        },
        {
          "type": "image_picker",
          "id": "link_icon",
          "label": "Link Icon"
        },
        {
          "type":"text",
          "id": "link_name",
          "label": "Link name"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "image",
      "name": "image-text with link",
      "settings":[
        {
          "type": "select",
          "id": "tab_position",
          "label": "Tab position",
          "options": [
            {
              "value": "tab1",
              "label": "First tab"
            },
            {
              "value": "tab2",
              "label": "Second tab"
            }
          ],
          "default": "tab1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type":"text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type":"text",
          "id": "headline_2",
          "label": "Headline 2"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "middleLeft",
              "label": "Middle left"
            },
            {
              "value": "middleRight",
              "label": "Middle right"
            },
            {
              "value": "middleCenter",
              "label": "Middle center"
            },
            {
              "value": "bottomLeft",
              "label": "Bottom left"
            },
            {
              "value": "bottomRight",
              "label": "Bottom right"
            },
            {
              "value": "bottomCenter",
              "label": "Bottom center"
            }
          ],
          "default": "bottomLeft"
        },
        {
          "type": "color",
          "id": "title_highlight",
          "label": "Title highlight color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Text color",
          "default": "#ffffff"
        }
      ]
    }
  ]
}
{% endschema %}
